<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.tjphoto.mapper.MemberMapper">

    <resultMap id="memberMap" type="com.example.tjphoto.vo.MemberVO">
        <id property="loginId" column="login_id"/>
        <result property="name" column="name"/>
        <result property="password" column="password"/>
        <result property="address" column="address"/>
        <result property="phone" column="phone"/>
        <result property="email" column="email"/>
    </resultMap>
    
    <insert id="insertMember">
        INSERT INTO member (
            login_id,
            name,
            password,
            address,
            phone,
            email
        )
        VALUES (
            #{loginId},
            #{name},
            #{password},
            #{address},
            #{phone},
            #{email}
        )
    </insert>

    <select id="findByLoginId"
            parameterType="string"
            resultMap="memberMap"> 
        SELECT
            login_id,
            name,
            password,
            address,
            phone,
            email,
            role
        FROM member
        WHERE login_id = #{loginId}
    </select>

</mapper>