<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.tjphoto.mapper.MemberMapper">

    <insert id="insertMember">
        INSERT INTO member (
            username,
            password,
            name,
            role
        )
        VALUES (
            #{username},
            #{password},
            #{name},
            #{role}
        )
    </insert>

    <select id="findByUserName"
            parameterType="string"
            resultType="com.example.tjphoto.vo.MemberVO"> 
        SELECT
            id,
            username,
            password,
            name,
            role
        FROM member
        WHERE username = #{username}
    </select>

</mapper>